@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Ysabeau+Office:ital,wght@0,100;0,300;0,700;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&family=Ysabeau+Office:ital,wght@0,100;0,300;0,700;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

:root {
    --cor-primaria: #1A120B;
    --cor-secundaria: #E5E5CB;
    --cor-terciaria: #D5CEA3;
    --cor-hover:#3C2A21;

    --main-font: 'Krona One', sans-serif;
    --second-font: 'Montserrat', sans-serif;
}


* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.header {
    padding: 2% 0% 0% 20%;   
}

.header-menu {
    display: flex;
    gap: 80px;
}


.header-menu-link {
    color: var(--cor-terciaria);
    font-family: var(--second-font);
    font-weight: 600;
    font-size: 1.5rem;
    text-decoration: none;
}


.titulo_destaque {
    color: var(--cor-terciaria);
}

.apresentacao {
    padding: 5% 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
    }

.apresentacao_1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    }

.title {
    font-family: var(--main-font);
    font-size: 2.25rem;
    }

.text_2 {
    font-family: var(--second-font);
    font-size: 1.5rem;
    }

.title_2 {
    font-family: var(--second-font);
    font-weight: 400;
    font-size: 1.5rem;
}



.buttons {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    }

.links {
    display: flex;
    justify-content: center;
    gap: 16px;
    font-family: var(--second-font);
    font-weight: 600;
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    border-radius: 8px;
    text-align: center;
    font-size: 1.5rem;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
}

.links:hover{
    background-color: var(--cor-hover);
}

.img {
    width: 50%;
}



.rodape {
    font-family: var(--second-font);
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 24px;
}

@media (max-width:1200px) {

    .header {
        padding: 10%;
    }

    .header-menu {
        display: flex;
        gap: 80px;
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao_1 {
        width: auto;
    }
}

